{% extends "base.html" %}

{% block content %}

    <style>
        
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;

            margin: 0 auto;
        }

    </style>
    <div class="row">
        <div class="col">
            <div class="card">
            {% if type == 'upload' %}
                <img src="data:image/jpeg;base64,{{ image_base64 }}" class="large-front-thumbnail" alt="Uploaded Image">
            {% else %}
            <img class="large-front-thumbnail"
            src="{{ 'static/imagenet_subset/'+image_id }} "
            alt={{ image_id }}/>
            {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-2">
                <div class="row">
                    <canvas id="classificationOutput" style="width: 50%; margin: auto; padding: 20px;"></canvas>
                    <div class="align-items-center">
                        <h2 id="waitText"></h2>
                        </div>
                    </div>
                </div>
                    <div class="d-flex flex-column align-items-end" style="width: 100%;">
                        <a class="btn btn-secondary mb-4" href="/classifications" role="button" style="width: 100%;">Back</a>
                        <a id="download_json" class="btn btn-secondary mb-4 bg-dark " download="results.json" href="data:text/json;charset=utf-8,{{classification_scores}}" style="width: 60%;">Download Results</a>
                        <a id="download_plot" class="btn btn-secondary mb-4 bg-dark" download="Plot.png" style="width: 60%;">Download Plot</a>
                    </div>
                
            </div>
    </div>
    <script src="{{ "static/graph.js" }}" id="makeGraph" classification_scores="{{classification_scores}}"></script>
{% endblock %}

