<!-- app/templates/classification_output_combined.html -->

{% extends "base.html" %}

{% block content %}

<style>
    .large-front-thumbnail {
        position: relative;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    canvas {
        border: 1px solid #ddd;
    }

    .graph-container {
        margin-top: 20px;
        text-align: center;
    }

    .axis-title {
        font-size: 14px;
        font-weight: bold;
        margin-top: 5px;
    }
</style>

<div class="row">
    <div class="col">
        <div class="card">
            <img class="large-front-thumbnail"
                 src="{{ 'static/imagenet_subset/'+image_id }} "
                 alt={{ image_id }}/>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="row">
                <!-- If image is grayscale -->
                {% if type == "gray" %}
                <canvas id="canvas" width="400" height="400"></canvas>
                {% endif %}

                <!-- If image is RGB -->
                {% if type == "rgb" %}
                <div id="histogramOutput">
                    {{ histogram_plot | safe }}
                </div>
                {% endif %}
            </div>
            <br>
            <a class="btn btn-primary" href="/Histogram" role="button">Back</a>
        </div>
    </div>
</div>

<script>
    // Function to calculate grayscale histogram
    function calculateHistogram(imageData) {
        const histogram = Array(256).fill(0);

        for (let i = 0; i < imageData.data.length; i += 4) {
            const grayscaleValue = Math.round((imageData.data[i] + imageData.data[i + 1] + imageData.data[i + 2]) / 3);
            histogram[grayscaleValue]++;
        }

        return histogram;
    }

    // Function to draw grayscale histogram
    function drawHistogram(histogram) {
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');

        ctx.clearRect(0, 0, canvas.width, canvas.height);

        const barWidth = canvas.width / histogram.length;

        for (let i = 0; i < histogram.length; i++) {
            const barHeight = (histogram[i] / Math.max(...histogram)) * canvas.height;
            ctx.fillStyle = 'black';
            ctx.fillRect(i * barWidth, canvas.height - barHeight, barWidth, barHeight);
        }
    }

    // Load image and calculate histogram
    const image = new Image();
    image.src = "{{ 'static/imagenet_subset/'+image_id }}";

    image.onload = function () {
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

        const imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
        const histogram = calculateHistogram(imageData);

        // Draw the histogram
        drawHistogram(histogram);
    };
</script>

{% endblock %}
