<!-- app/templates/classification_output_combined.html -->

{% extends "base.html" %}

{% block content %}

<style>
    .large-front-thumbnail {
        max-width: 100%;
        height: auto;
    }

    canvas {
        border: 1px solid #ddd;
    }

    .graph-container {
        margin-top: 20px;
        text-align: center;
    }

    .axis-title {
        font-size: 14px;
        font-weight: bold;
        margin-top: 5px;
    }
</style>

<div class="row">
    <div class="col-md-3"> <!-- Far left small column for image -->
        <div class="card">
            <img class="large-front-thumbnail"
                 src="{{ 'static/imagenet_subset/'+image_id }} "
                 alt={{ image_id }}/>
        </div>
    </div>
    <div class="col-md-9"> <!-- Rest of the space for histogram column -->
        <div class="card">
            <div class="row">
                <!-- If image is RGB -->
                <div id="histogramOutput">
                    {{ histogram_plot | safe }}
                </div>
            </div>
            <br>
            <a class="btn btn-dark mb-2" href="/Histogram" role="button">Back</a>
        </div>
    </div>
</div>


{% endblock %}
